.bayn-logo {
  position:absolute;
  top: 20px;
  left: 20px;
  z-index: 101;
  display: block;
  width: 56px;
  height: 56px;
}

.bayn-logo img {
  width: 200%;
  object-fit: contain;
  display: block;
}
