:root {
  /* Primary */
  --color-primary-100: #90E4C8;
  --color-primary-150: #83D3B9;
  --color-primary-200: #76C3A9;
  --color-primary-250: #69B29A;
  --color-primary-300: #5CA18A;
  --color-primary-400: #43806C;
  --color-primary-500: #295E4D;
  --color-primary-600: #0F3D2E;
  --color-primary-700: #0C3125;
  --color-primary-800: #09251C;
  --color-primary-900: #061812;
  --color-primary-950: #04120E;
  --color-primary-1000: #030C09;
  --color-primary-1100: #020605;

  /* Neutral */
  --color-neutral-100: #FFFFFF;
  --color-neutral-200: #C9C9C9;
  --color-neutral-300: #AEAEAE;
  --color-neutral-400: #787878;
  --color-neutral-500: #606060;
  --color-neutral-600: #484848;
  --color-neutral-700: #000000;

  /* Secondary */
  --color-secondary-100: #F8F6F3;
  --color-secondary-200: #F2EEE8;
  --color-secondary-300: #EBE5DC;
  --color-secondary-400: #E4DDD0;
  --color-secondary-500: #D7CBB9;
  --color-secondary-600: #C9BAA1;
  --color-secondary-700: #BCA98A;
  --color-secondary-800: #9A8A71;
  --color-secondary-900: #786C57;
  --color-secondary-1000: #574D3E;
  --color-secondary-1050: #463E31;
  --color-secondary-1100: #352F24;
  --color-secondary-1150: #241F18;
  --color-secondary-1200: #13100B;

  /* Error */
  --color-error-100: #FEE6E6;
  --color-error-200: #FCCCCC;
  --color-error-300: #F99999;
  --color-error-400: #F66666;
  --color-error-500: #F33333;
  --color-error-600: #F00000;
  --color-error-700: #C00000;
  --color-error-800: #900000;
  --color-error-900: #300000;

  /* Warning */
  --color-warning-100: #FFF8E6;
  --color-warning-200: #FFF1CC;
  --color-warning-300: #FFE499;
  --color-warning-400: #FFD666;
  --color-warning-500: #FFC933;
  --color-warning-600: #FFBB00;
  --color-warning-700: #CC9600;
  --color-warning-800: #997000;
  --color-warning-900: #332500;

  /* Success */
  --color-success-100: #EDFBE6;
  --color-success-200: #DBF7CC;
  --color-success-300: #B7EF99;
  --color-success-400: #93E666;
  --color-success-500: #6FDE33;
  --color-success-600: #4BD600;
  --color-success-700: #3CAB00;
  --color-success-800: #2D8000;
  --color-success-900: #0F2B00;

  /* Dark mood */
  --color-dark-100: #85928B;
  --color-dark-200: #76837D;
  --color-dark-300: #4C5550;
  --color-dark-400: #4C5550;
  --color-dark-500: #2A2B26;
  --color-dark-600: #141816;
  --color-dark-700: #0F1211;
  --color-dark-800: #0A0D0C;
  --color-dark-900: #07090A;

  /* Background */
  --bg-surface-primary: var(--color-secondary-300);
  --bg-surface-secondary: var(--color-secondary-500);
  --bg-surface-thirdary: var(--color-secondary-600);
  --bg-surface-tertiary: var(--color-primary-100);
  --bg-border-primary: var(--color-secondary-1100);

  /* Buttons */
  --btn-primary-default: var(--color-primary-500);
  --btn-primary-hover: var(--color-primary-600);
  --btn-primary-click-effect: rgba(235, 229, 220, 0.1);
  --btn-secondary-hover: var(--color-secondary-800);
  --btn-secondary-click-effect: rgba(120, 108, 87, 0.49);
  --btn-tertiary-hover: var(--color-secondary-900);
  --btn-text: var(--color-secondary-300);

  /* Text */
  --text-title: var(--color-primary-600);
  --text-body: var(--color-primary-500);
  --text-body-2: var(--color-secondary-1050);
  --text-supporting: var(--color-secondary-900);
  --text-disabled: var(--color-neutral-400);
  --text-disabled-2: var(--color-neutral-500);

  /* Input */
  --input-bg-default: rgba(215, 203, 185, 0.7);
  --input-bg-hover: var(--color-secondary-600);
  --input-border-hover: var(--color-secondary-700);
  --input-focus: var(--color-secondary-400);
  --input-border-default: var(--color-secondary-1050);
  --input-disabled: var(--color-neutral-300);
  --input-disabled-border: var(--color-neutral-600);
  --input-error: var(--color-error-800);

  /* Dropdown */
  --dropdown-hover: var(--color-secondary-500);

  /* Checkbox */
  --checkbox-border-default: var(--color-secondary-1000);
  --checkbox-click-effect: var(--color-secondary-700);
  --checkbox-hover-effect: rgba(70, 62, 49, 0.2);
  --checkbox-check-color: var(--color-primary-600);

  /* Sidebar */
  --sidebar-bg: var(--color-primary-700);
  --sidebar-text-default: var(--color-secondary-600);
  --sidebar-hover-button: var(--color-primary-600);
}
